.app {
  height: 100vh;
  background-color: #020230;
  display: flex;
  color: #fff;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpeg") center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.bottom {
  height: 50%;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 2rem;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4 rem;
}

.moneyListItem.active {
  background-color: teal;
}
.moneyListItemNumber {
  font-size: 1rem;
  font-weight: 400;
  width: 30%;
}
.moneyListItemAmout {
  font-size: 1.3rem;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.question {
  background: linear-gradient(#020230, black);
  border: 2px solid #fff;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 80%;
  font-size: 1.6rem;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  text-align: center;
  padding: 1rem;
  /* background: linear-gradient(#16166e, rgb(47, 46, 46)); */
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background-color: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background-color: mediumblue;
  }
  20%,
  40%,
  60% {
    /* background: linear-gradient(#16166e, rgb(47, 46, 46)); */
    background-color: #000;
  }
  62%,
  100% {
    background-color: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background-color: mediumblue;
  }
  20%,
  40%,
  60% {
    /* background: linear-gradient(#16166e, rgb(47, 46, 46)); */
    background-color: #000;
  }
  62%,
  100% {
    background-color: red;
  }
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.failScore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
}

.start {
  width: 300px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.startButton {
  width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: orangered;
  color: #000;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
}
